html {height:100%;}
body {margin:0px;background-color:#CCCCCC;background:-webkit-linear-gradient(top,#cccccc 0%,#cccccc 50%,#666666 100%);background:-moz-linear-gradient(top,#cccccc 0%,#cccccc 50%,#666666 100%);background:-o-linear-gradient(top,#cccccc 0%,#cccccc 50%,#666666 100%);background:linear-gradient(top,#cccccc 0%,#cccccc 50%,#666666 100%);background-attachment:fixed;}
header {margin:10px;padding:0px;height:226px;text-align:center;}
#wrapper {margin: 10px 140px;}
#options {display:block;float:left;margin-right:10px;padding:10px;white-space:nowrap;font-family:Segoe UI, Helvetica, Arial, sans-serif;font-size:11px;border-style:solid;border-width:1px;border-color:#000000;border-radius:10px;background-color:#FFFFFF;}
#options a {color:#286717;}
#options label {margin-top:2px;}
#markupWrapper {overflow:hidden;}
#markup {display:block;padding:10px;overflow:hidden;font-family:monospace;font-size:11px;border-style:solid;border-width:1px;border-color:#000000;border-radius:10px;background-color:#FFFFFF;}
#markup span {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
#hintText {display:none;font-family:Segoe UI, Helvetica, Arial, sans-serif;font-size:11px;font-style:italic;color:#389220;}
#bottomSpacer {clear:both;}
footer {position:fixed;bottom:0px;width:100%;text-align:center;font-family:Segoe UI, Helvetica, Arial, sans-serif;font-size:11px;color:#CCCCCC;background-color:#333333;}
a {text-decoration:none;color:#CCEECC;}
::selection {background-color:#389220;}
::-moz-selection {background-color:#389220;}

.ui-helper-hidden-accessible{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px);}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.ui-widget{font-family:Segoe UI, Helvetica, Arial, sans-serif;font-size:11px;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid #000000;background:#0a0a0a url(images/button-default.png) 50% 50% repeat-x;font-weight:bold;color:#00cc1a;}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{color:#00cc1a;text-decoration:none;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #000000; background: #0a0a0a url(images/button-hover.png) 50% 50% repeat-x; font-weight: bold; color: #00cc1a; }
.ui-state-hover a, .ui-state-hover a:hover{color:#00cc1a;text-decoration:none;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{border:1px solid #000000;background:#009e14 url(images/button-active.png) 50% 50% repeat-x;font-weight:bold;color:#ffffff;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{color:#ffffff;text-decoration:none;}
.ui-widget:active{outline:none;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl{-moz-border-radius-topleft:6px;-webkit-border-top-left-radius:6px;-khtml-border-top-left-radius:6px;border-top-left-radius:6px;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{-moz-border-radius-topright:6px;-webkit-border-top-right-radius:6px;-khtml-border-top-right-radius:6px;border-top-right-radius:6px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl{-moz-border-radius-bottomleft:6px;-webkit-border-bottom-left-radius:6px;-khtml-border-bottom-left-radius:6px;border-bottom-left-radius:6px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{-moz-border-radius-bottomright:6px;-webkit-border-bottom-right-radius:6px;-khtml-border-bottom-right-radius:6px;border-bottom-right-radius:6px;}
.ui-button{display:inline-block;position:relative;padding:0;margin-right:.1em;text-decoration:none !important;cursor:pointer;text-align:center;zoom:1;overflow:visible;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-button-text-only .ui-button-text{padding:.4em 1em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
